
        h1 {
            text-align: center;
            font-size: 55px;
        }
        body {
            font-family: 'Copperplate', fantasy;
            color: #d5e9d1;
            background-color: #3fa375;
            font-size: 28px;
            text-align: right;
        }

